npm-debug.log

bundle.symlink/cache/

git/gitconfig.local.symlink

# fish plugins
config.symlink/fish/conf.d/asdf.fish
config.symlink/fish/functions/fisher.fish
config.symlink/fish/completions/
config.symlink/fish/fish_variables

# iterm
config.symlink/iterm2/

# dracula
iterm2/Dracula Pro*
