"*":
  editor:
    fontFamily: "Menlo"
    fontSize: 12
    showInvisibles: true
    showIndentGuide: true
    invisibles: {}
  core:
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "linter-rubocop"
    ]
    themes: [
      "unity-ui"
      "base16-syntax"
    ]
    projectHome: "/Users/steveagalloco/Projects"
    audioBeep: false
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  welcome:
    showOnStartup: false
  "release-notes":
    viewedVersion: "0.89.0"
  linter: {}
  "autocomplete-plus":
    confirmCompletion: "enter"
  minimap: {}
  "base16-syntax":
    scheme: "Ocean"
