'*':
  'editor':
    'fontFamily': 'Menlo'
    'fontSize': 12
    'showInvisibles': true
    'showIndentGuide': true
  'core':
    'ignoredNames': [
      '.bundle'
      '.git'
      'log'
      'repositories'
      'tmp'
      'vendor'
    ]
    'disabledPackages': [
      'background-tips'
      'exception-reporting'
      'metrics'
    ]
    'themes': [
      'unity-dark-ui'
      'glacier-syntax'
    ]
  'spell-check':
    'grammars': [
      'text.plain'
      'source.gfm'
      'text.git-commit'
    ]
  'welcome':
    'showOnStartup': false
  'release-notes':
    'viewedVersion': '0.89.0'
  'linter': {}
  'go-format': {}
  '.gohtml.html.text':
    'editor': {}
  '.go.source':
    'editor': {}
  '.gotemplate.source':
    'editor': {}
