"*":
  editor:
    fontFamily: "Menlo"
    fontSize: 12
    showInvisibles: true
    showIndentGuide: true
    invisibles: {}
  core:
    ignoredNames: [
      "log"
      "repositories"
      "tmp"
      "vendor"
      ".bundle"
    ]
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "autocomplete-elixir"
      "language-elixir"
      "linter-elixirc"
    ]
    themes: [
      "unity-ui"
      "base16-syntax"
    ]
    projectHome: "/Users/steveagalloco/Projects"
    audioBeep: false
    excludeVcsIgnoredPaths: false
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  welcome:
    showOnStartup: false
  "release-notes":
    viewedVersion: "0.89.0"
  linter:
    subtleLinterErrors: [
      "ruby"
    ]
  "autocomplete-plus":
    confirmCompletion: "enter"
  minimap: {}
  "base16-syntax":
    scheme: "Ocean"
  "go-plus": {}
  "atom-alignment": {}
  "tree-view":
    hideVcsIgnoredFiles: true
  "unity-ui":
    colorStatusIndicatorsInTreeView: true
  "linter-elixirc":
    elixircExecutablePath: "/usr/local/bin/elixirc"
  "autocomplete-elixir":
    elixrPath: "/usr/local/bin/elixir"
    elixirPath: "/usr/local/bin/elixir"
  "xml-formatter":
    numberCharIndent: 4
  "linter-rubocop": {}
